// public/assets/css/style.scss
// Palette personnalisée, à placer AVANT l'import de Bootstrap
$primary: #0074c7;
$secondary: #00497c;
$success: #82b864;
$danger: #cd2c2e;
$info: #f1f8fc;
$dark: #384050;

// Variables de backgrounds & autres si tu veux
$body-bg: #f1f8fc; // Couleur de fond générale

// Import de Bootstrap (pour utiliser les variables/couleurs, etc.)
@import "bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

// Tes styles personnalisés ici
body {
  background: #f1f8fc;
  font-family: Arial, sans-serif;
}

.header-box {
  border: 2px solid #222;
  border-radius: 0.5rem;
  background: #fff;
  padding: 10px 24px;
  max-width: 800px;
  box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.08);
}

.app-title {
  font-family: inherit;
}

.btn-login {
  font-weight: bold;
}

.admin-btn {
  border-radius: 12px 8px 12px 8px;
  font-weight: 500;
  padding: 6px 28px;
  background: #49505e;
  color: #fff !important;
  border: none;
  box-shadow: none;
  transition: background 0.2s;
  &:hover,
  &:focus {
    background: #384050;
    color: #fff !important;
  }
}

.login-box {
  max-width: 400px;
}

/* cohérence du menu sur mobile */

@media (max-width: 970px) {
  .desktop-menu {
    display: none !important;
  }
  .burger-menu {
    display: flex !important;
  }
}
@media (min-width: 971px) {
  .desktop-menu {
    display: flex !important;
  }
  .burger-menu {
    display: none !important;
  }
}
/* Affichage du bouton burger */
.burger-menu .navbar-toggler {
  border: none;
  background: transparent;
  outline: none;
  box-shadow: none;
  padding: 0.3em 0.6em;
  margin-right: 0.2em;
  cursor: pointer;
}
.burger-menu .navbar-toggler-icon {
  width: 2em;
  height: 2em;
  display: block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  /* Burger #384050 */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(56,64,80,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
/* Affichage du menu mobile */
.burger-menu .navbar-collapse {
  display: none;
}
.burger-menu .navbar-collapse.show {
  display: block !important;
  animation: fadeInMenu 0.15s;
}
@keyframes fadeInMenu {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
